nav {

    
    background: rgba(255, 255, 255, 0.3);
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    right: 0%;
    transform: translateX(-50%);
    bottom: 15rem;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);   
    

}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;

}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);

}

nav a.active {
    background: var(--color-primary);
    color: var(--color-bg);

}
  











@media screen and (max-width:1024px){



    nav{
        display: flex;
        flex-direction: row;
        justify-items: baseline;
        left: 50%;
        margin-bottom:-15%;
        
    
    }
}
@media screen and (max-width:600px){



    nav{
        display: flex;
        flex-direction: row;
        justify-items: baseline;
        left: 50%;
        margin-bottom:-25%;
        
    
    }
}